body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 36px;
    color: #333;
  }
  
  .calculator {
    width: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  

  
  
  #display {
    
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #f0f0f0;
    color: #333;
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.95);
  }
  